<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Time %>
    <%= form.datetime_select :Time %>
  </div>

  <div class="field">
    <%= form.label :Tickets %>
    <%= form.number_field :Tickets %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.number_field :Price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
