 <head>
   <script src="https://js.stripe.com/v3/"></script>
 </head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.Title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.Time %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.Tickets %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.Price %>
</p>
<input type="number" id="amount" name="ticketsAmount"
       min="1" max="<%= @event.Tickets %>">
<%= button_to 'Buy', charge_create_path, method: :post, params: { id: @event.id }, remote:true %>
<
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
